.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #6c757d;
  pointer-events: none; /* icon not clickable */
  font-size: 1.1rem;
  z-index: 5;
}

/* highlight icon on focus */
.form-floating:focus-within .input-icon {
  /*color: #198754; /* green */
}

