.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 5px;
  right:5px;
  width: auto;

  background: #212529;
  color: white;
  text-align: center;

  padding: 8px 10px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3);

  z-index: 999;
}

.footer-link {
  display: block;
  color: #ffc107;
  font-weight: 600;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
