.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
  width: auto;

  background: #212529;
  color: white;
  text-align: center;

  padding: 8px 10px;

  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */

  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3);

  z-index: 999;
}

.footer-link {
  display: block;
  color: #ffc107;
  font-weight: 600;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.glow-warning {
  position: relative;
  z-index: 1;
  overflow: visible !important;
}

.glow-warning::before {
  content: "";
  position: absolute;
  inset: -6px;
  background: #ffc107; /* ✅ Yellow glow */
  filter: blur(18px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  border-radius: 12px;
}

.glow-warning:hover::before {
  opacity: 0.7;
}
