.clock-container {
    display: flex;
    justify-content: space-between;
    /* Left & Right */
    align-items: center;
    padding: 8px 12px;
    font-family: Arial, sans-serif;
    margin: 0;

}

/* Time */
.clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
}

/* AM/PM smaller */
.ampm {
    font-size: 12px;
    margin-left: 3px;
    color: #0d6efd;
}

/* Date */
.date {
    font-size: 14px;
    color: #555;
    white-space: nowrap;
    
}