.custom-navbar {
    /*background-color: rgb(7 77 49 / 1) !important;*/
    background-color: rgb(27 131 84/var(--tw-bg-opacity, 1)) !important;
}

/* Brand + links */
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #fff !important;
}

/* Hover */
.custom-navbar .nav-link:hover {
    color: #d1fae5 !important;
}

/* FIX toggler icon (very important) */
.custom-navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.6);
}

.custom-navbar .navbar-toggler-icon {
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Toggler base */
.custom-toggler {
  border: none;
  padding: 0.5rem;
}

/* Bars */
.custom-toggler span {
  display: block;
  width: 26px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* Animate to X */
.custom-toggler.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.custom-toggler.open span:nth-child(2) {
  opacity: 0;
}

.custom-toggler.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
