.custom-navbar {
  /*background-color: rgb(7 77 49 / 1) !important;*/
  background-color: rgb(27 131 84/var(--tw-bg-opacity, 1)) !important;
  text-align: right;
  
}

/* Brand + links */
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #fff !important;
}

/* Hover */
.custom-navbar .nav-link:hover {
  color: #d1fae5 !important;
}

/* FIX toggler icon (very important) */
.custom-navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.6);
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Toggler base */
.custom-toggler {
  border: none;
  padding: 0.5rem;
}

/* Bars */
.custom-toggler span {
  display: block;
  width: 26px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* Animate to X */
.custom-toggler.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.custom-toggler.open span:nth-child(2) {
  opacity: 0;
}

.custom-toggler.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-link.active {
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px;
  font-weight: bold;
  font-size: large;
  margin-right:10px;
}

.location-icon {
  width: 38px;
  height: 38px;
  color: #fff !important;
  /* custom orange */
  justify-content: left;
  text-align: left;
  flex-direction: row;
  cursor: pointer;
}

.menu-icons {
  font-size: 18px;
  margin-left: 6px;
  transition: all 0.3s ease;
  color: #ccc;
  /* normal */
}

.active-link .menu-icons {
  font-size: 26px;
  /* bigger */
  color: #ffc107;
  /* highlight */
  transform: scale(1.2);
  /* pop effect */
  animation: bounce 0.4s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1.2);
  }
}

/* Smooth dropdown animation */
.animated-collapse {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease-in-out;
}

/* When open */
.animated-collapse.show {
  max-height: 500px; /* enough height for menu */
  opacity: 1;
  transform: translateY(0);
}
