.statBox {
    width: 150px;
    height: 110px;
    background-color: #FEF8DD;
    box-shadow: 0px 4px 14.7px 0px #00000040;
    border-radius: 20px;
    margin-right: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #A7623A;
}

.statBox .firstPara {
    font-size: 35px !important;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    margin-top: 8px;
}

.statBox .SecPara {
    line-height: 1.15em;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Nunito", sans-serif !important;
    text-align: center;
}

.custom-padding {
    padding: 0.1px !important;
}